.banner {
    position: relative;
    height: 75vh;
    object-fit: contain;
    color: white;
    background-size: 100% 100%;
    margin-bottom: 0.7rem;
}

.banner__contents {
    position: absolute;
    top: 45%;
    width: 69%;
    left: 15px;
    right: 15px;
}

.banner__title {
    font-size: 1.5rem;
}

.banner__description {
    font-size: 0.88em;
    font-weight: 500;
    margin-bottom: 1em;
    line-height: 1.4em;
}

.banner__button {
    margin-right: 2px;
    border-radius: 0.3rem;
    font-size: 0.99rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    margin-right: 1rem;
    /* margin: auto; */
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    vertical-align: middle;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.5s;
}

.banner__fadeBottom {
    position: absolute;
    width: 100%;
    margin: 0;
    height: 27%;
    /* z-index: -1; */
    bottom: 0;
    background-image: linear-gradient(transparent, rgba(209, 202, 202, 0), rgb(78, 76, 76, 1));
}

@media (min-width:768px) {
    .banner__contents {
        width: 55%;
    }
}

@media (max-width:700px) {
    .banner__contents {
        width: 90%;
        top: 30%;
        padding: 5px;
    }
    .banner__title,
    .banner__description {
        margin: .5em auto .5em auto;
    }
    .banner__button {
        /* background-size: cover cover; */
        /* background-position: center; */
        display: block;
        margin: .5em auto .5em auto;
    }
}